<!-- /views/chat.erb -->
<% if @chat_history != nil %>
  <% @chat_history.each do |chat| %>
    <% if chat["role"] == "user"  %>
      <dt>You:</dt>
      <dd><%= chat["content"]  %></dd>
    <% end %>

    <% if chat["role"] == "assistant"  %>
      <dt>Assistant:</dt>
      <dd><%= chat["content"].gsub("\n", "<br>") %></dd>
    <% end %>

    <br>
  <% end %>
<% end %>

<p><form action="/chat" method="post">
  <label for="chat_input">You:</label>
  <input id="chat_input" type="text" name="user_chat_msg" placeholder="Enter a message...">
  <button>Send</button>
</form>

<hr>

<form action="/clear_chat" method="post">
  <button>Clear chat history</button>
</form>
